html {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

/* body {
    background-image: url(images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
} */
.container {
    padding: 15px;
}
blockquote {
    font-weight: 500;
    color: #202046;
    opacity: 0.6;
    margin: 15px 0px 20px 0px;
}
.username {
    font-weight: 700;
}
.occupation {
    font-weight: 300;
    color: #babacf;
}
.figure img {
    width: 100%;
    border-radius: 10px;
    /* box-shadow: 0px 26px 17px 4px rgba(232,229,250,0.86); */
}
.figure {
    padding: 12%;
    background-image: url(images/pattern-bg.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
section {
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-image: url(images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: center;
}
