* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    text-align: center;
}

.card {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-image: url(images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    padding: 7%;
    position: absolute;
    height: 100vh;
}

.figure {
    padding: 12%;
    background-image: url(images/pattern-bg.svg);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
.navigate {
    height: 2rem;
    width: 4rem;
    border-radius: 20px;
    position: absolute;
    background-color: #ffffff;
    bottom: -1rem;
    left: 33%;
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    gap: 1.2rem;
}

.navigate > img{
    height: 0.7rem;
    width: 0.5rem;
    margin: auto;
}

.navigate > img:hover {
    cursor: pointer;
    transform: scale(1.4);
}
.profile-pic {
    display: flex;
    position: relative;
}
.user-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 17px 50px -8px rgba(0,0,0,0.78);
    /* box-shadow: 0px 26px 17px 4px rgba(232,229,250,0.86); */
}

section {
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
    background-image: url(images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: center;
}

blockquote {
    font-weight: 500;
    color: #202046;
    opacity: 0.6;
}
.username {
    font-weight: 700;
}
.occupation {
    font-weight: 300;
    color: #babacf;
}

.user {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 0.8rem;
}

.container {
    left: 2500px;
}
.tanya {
    left: 0px;
}

@media (min-width:600px){
    html {
        font-size: 30px;
    }
    .container {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        align-items: center;
    }

    .figure {
        padding: 6%;
        max-width: 55%;
    }

    section {
        position: relative;
        max-width: 45%;
        padding-top: 40px;
        background-position-x: 40%;
    }

    blockquote {
        line-height: 1.3rem;
        width: 110%;
        margin-bottom: 30px;
    }

    blockquote, .user {
        position: inherit;
        right: -75px;
        opacity: 1;
        font-weight: 300;
    }
    .user {
        flex-direction: row;
        gap: 0.3rem;
        padding-top: 17.rem;
        font-size: 0.65rem;
    }
    .navigate {
        left: 10%;
    }
}




.container {
    /* position: relative;
    height: 40rem; */

    /* width: 1000px;
    height: 20rem; */
    /* padding: 0;
    margin: 0; */
    /* min-height: 100vh; */
}


 .figure {
    /* padding: 75px; */
    /* max-width: 50%;
    position: absolute;
    right: 30px;
    bottom: 30px;
    top: 30px; */
}

section {
    /* max-width: 60%; */
    /* position: absolute; */
    /* left: 0px;
    margin: 15% 0px 15% 100px;
    width: 50%;
    text-align: left;
    padding-top: 50px; */
}
